<!-- components/footer.html -->
<section id="contact" class="section">
    <h2>Contact Me</h2>
    <p><a href="mailto:manishksingh5200@gmail.com">
        <img src="assets/icons/email.svg" class="social-icon" width="35" height="35" alt="Email Logo" />
        manishksingh5200@gmail.com
    </a>
       
    </p>
  
    <div class="social-links">
  
      <!-- 🔗 Top Platforms -->
      <div class="top-social">
  
        <!-- GitHub -->
        <a href="https://github.com/manish5200" target="_blank">
            <img src="assets/icons/github.svg" class="social-icon" width="20" height="20" alt="LeetCode Logo" />
          manish5200
        </a>
  
        <!-- LinkedIn -->
        <a href="https://linkedin.com/in/maniish5200" target="_blank">
            <img src="assets/icons/linkedin.svg" class="social-icon" width="20" height="20" alt="LeetCode Logo" />
          maniish5200
        </a>
      </div>
  
      <!-- 🧑‍💻 Coding Profiles -->
      <div class="code-profiles">
  
        <!-- LeetCode -->
        <a href="https://leetcode.com/u/maniish5200_/" target="_blank">
          <img src="assets/icons/leetcode.svg" class="social-icon" width="20" height="20" alt="LeetCode Logo" />
          maniish5200_
        </a>
  
        <!-- Codeforces -->
        <a href="https://codeforces.com/profile/maniish5200_" target="_blank">
          <img src="assets/icons/codeforces.svg" class="social-icon" width="20" height="20" alt="Codeforces Logo" />
          maniish5200_
        </a>
  
        <!-- GFG -->
        <a href="https://www.geeksforgeeks.org/user/justbegin5200/" target="_blank">
          <img src="assets/icons/gfg.svg" class="social-icon" width="20" height="20" alt="GFG Logo" />
          justbegin5200
        </a>
  
      </div>
    </div>
  </section>
  
  <footer>
    <p>© 2025 Manish Kumar Singh | Built with 💻 and ☕</p>
  </footer>
  